body {
    background-color: #2a4c3a;
    font-family: Arial;
    color: #cccccc;
}
hr {
    border: none;
    height: 1px;
    background: #a88534;
    padding: 0;
    box-sizing: border-box;
}
.divider {
    display: block;
}
.button_symbol.head_basket_button:hover,
.page_card_basket_button:hover,
.login_submit:hover,
.page_card_counter_button:hover,
.basket_window_button:hover {
    background: #cc9c2c;
    color: #494949;
}
button {
    background: transparent;
    border: none;
    color: #cccccc;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s ease;
}
button:hover {
    color: #d4a843;
}
button:active {
    transform: scale(0.95);
    transition: all 0.1s ease;
    color: #f2c55d;
}
.button_symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.symbol {
    height: 13px;
    width: 13px;
}
.head {
    background-color: #1a3c2a;
}
.row_divider {
    display: flex;
    justify-content: space-between;
}
.main_title {
    margin: 20px 0px 10px 15px;
    font-family: Georgia;
    color: #f0f0f0;
    letter-spacing: 3px;
    font-size: 45px;
}
.button_symbol.login {
    margin: 25px 10px 110px;
    padding: 5px 5px;
    font-size: 13px;
}
.head_description {
    margin: 10px 15px 10px;
    max-width: 1000px;
    font-size: 14px;
    letter-spacing: 1px;
}
.head_menu {
    display: flex;
    text-align: center;
    margin: 0px 5px;
}
.head_menu_search {
    margin: 0px 1px 3px;
    font-size: 14px;
}
.menu_button {
    margin: 2px 0px;
    font-size: 10px;
}
.menu_button.hide_on_phone {
    display: none;
}
.button_symbol.head_basket_button {
    margin: 2px 10px 2px 0px;
    padding: 8px 4px;
    border-radius: 15px;
    background: #ac8c41;
    height: 30px;
    width: 210px;
    font-size: 12px;
}
.hidden_menu {
    position: relative;
    display: flex;
    justify-content: center;
}
.hidden_content {
    display: none;
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100px;
    padding: 8px 5px;
    line-height: 25px;
    border-radius: 3px;
    background: #32714f;
    opacity: 0.9;
    z-index: 10;
}
.hidden_menu_button {
    font-size: 12px;
    width: 100px;
}
.hidden_menu:hover .hidden_content {
    display: block;
}
.page {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0px 30px;
    gap: 20px;
}
.page_recommended {
    display: block;
    text-align: left;
}
.page_recommended_title {
    margin: 15px 0px;
    font-size: 16px;
}
.page_card_carousel {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    max-width: 315px;
    height: 360px;
}
.page_card {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    background: #1a3c2a;
    text-align: left;
    scroll-snap-align: center;
    border-radius: 20px;
}
.page_card_row {
    display: flex;
    justify-content: space-between;
    margin: auto 8px 10px;
}
.page_card_img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 20px;
}
.page_card_text {
    margin: 0px 10px 0px;
    font-size: 11px;
}
.page_card_price {
    margin: 4px 0px;
    font-size: 12px;
}
.page_card_basket_button {
    margin: 0px 10x;
    padding: 5px 5px;
    border-radius: 7px;
    background: #ac8c41;
    font-size: 11px;
    width: 70px;
    height: 23px;
}
.page_card_counter_button {
    margin: 0px 4px;
    padding: 0px 5px;
    border-radius: 7px;
    background: #ac8c41;
    font-size: 16px;
    width: 23px;
    height: 23px;
}
.counter_value {
    font-size: 12px;
}
.page_img {
    width: 330px;
    height: auto;
    border-radius: 15px;
}
.basement {
    background: #1a3c2a;
    padding: 20px 10px 10px;
    font-size: 9px;
}
.basement_menu {
    display: flex;
    text-align: center;
    margin-top: 10px;
}
.basement_data {
    margin: 18px 0px 0px;
}
.basement_data_right {
    margin: 15px 0px 0px;
    text-align: right;
}
.basement_button_copyright {
    margin: 10px 5px;
    padding: 0px 10px;
    font-size: 9px;
}
.login_background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    justify-content: center;
    align-items: center;
}
.login_background.active {
    display: flex;
    pointer-events: auto;
}
.login_window {
    background: #2a4c3a;
    padding: 10px 20px 20px;
    border-radius: 10px;
    width: 180px;
    position: relative;
    color: #f0f0f0;
    border: 2px solid #d4a843;
    font-size: 14px;
}
.login_window_close {
    margin: 14px 0px;
    max-height: 16px;
    background: none;
    border: none;
    color: #d4a843;
    font-size: 16px;
}
.login_window_close:hover {
    color: #ea5b2f;
}
.login_window input {
    width: 100%;
    height: 35px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d4a843;
    border-radius: 5px;
    background: #1a3c2a;
    color: white;
    box-sizing: border-box;
}
.login_submit {
    background: #ac8c41;
    border: none;
    padding: 12px 15px;
    margin-top: 10px;
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
}
.basket_window {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    top: 400px;
    right: 10px;
    z-index: 90;
    justify-content: left;
    align-items: right;
    background: #2a4c3a;
    width: 225px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #d4a843;
    font-size: 12px;
}
.basket_window.visible {
    display: flex;
}
.basket_object {
    width: 190px;
}
.basket_price {
    width: 50px;
}
.basket_empty {
    display: block;
    letter-spacing: 1px;
    margin: 20px 50px;
}
.basket_window_button {
    display: none;
    padding: 5px 5px;
    border-radius: 10px;
    background: #ac8c41;
    font-size: 12px;
    width: 110px;
    height: 30px;
}
.purifier {
    margin-right: 10px;
    color: #2d2d2d;
    background: #f94b45;
}
.purifier:hover {
    background: #e12a2a;
    color: #cccccc;
}

@media (min-width: 1024px) {
    .divider {
        display: none;
    }
    .symbol {
        height: 25px;
        width: 25px;
    }
    .main_title {
        margin: 40px 70px 10px;
        font-size: 55px;
    }
    .button_symbol.login {
        margin: 60px 80px 40px;
        font-size: 20px;
    }
    .head_description {
        margin: 0px 70px 20px;
        font-size: 16px;
    }
    .head_menu {
        margin: 10px 45px 10px;
    }
    .head_menu_search {
        margin: 0px 20px;
        font-size: 20px;
    }
    .menu_button {
        margin: 6px 10px;
        font-size: 18px;
        letter-spacing: 1px;
    }
    .menu_button.hide_on_phone {
        display: block;
    }
    .button_symbol.head_basket_button {
        margin: 0px 70px;
        padding: 10px 18px;
        height: 50px;
        width: 140px;
        font-size: 18px;
    }
    .hidden_content {
        top: 35px;
        left: 10px;
        width: 170px;
        padding: 8px 16px;
        line-height: 35px;
    }
    .hidden_menu_button {
        font-size: 18px;
        width: 170px;
    }
    .page {
        margin: 30px 80px;
        gap: 100px;
    }
    .page_card_row {
        margin: auto 0px 20px;
    }
    .page_card_carousel {
        max-width: 620px;
        height: 560px;
        gap: 10px;
    }
    .page_recommended_title {
        margin: 30px 0px 30px;
        font-size: 20px;
    }
    .page_card {
        min-width: 300px;
    }
    .page_card_row {
        margin: auto 0px 10px;
    }
    .page_card_img {
        height: 300px;
        width: 300px;
    }
    .page_card_text {
        margin: 0px 15px 0px;
        font-size: 16px;
    }
    .page_card_price {
        margin: 10px 20px;
        font-size: 20px;
    }
    .page_card_basket_button {
        padding: 10px 20px;
        margin: 0px 20px;
        font-size: 16px;
        width: 120px;
        height: 35px;
        border-radius: 10px;
    }
    .page_card_counter_button {
        margin: 0px 20px;
        border-radius: 10px;
        font-size: 16px;
        width: 40px;
        height: 35px;
    }
    .counter_value {
        font-size: 16px;
    }
    .page_img {
        height: 700px;
        width: auto;
    }
    .basement {
        padding: 50px 100px;
        font-size: 16px;
    }
    .basement_menu {
        margin: 20px 10px 0px;
    }
    .basement_data {
        margin: 45px 0px 0px;
    }
    .basement_data_right {
        margin: 3px 0px 0px;
    }
    .basement_button_copyright {
        margin: 0px 10px;
        padding: 0px 10px;
        font-size: 15px;
    }
    .basket_window {
        padding: 10px 20px;
        top: 300px;
        right: 80px;
        width: 300px;
        font-size: 16px;
    }
    .basket_object {
        width: 260px;
    }
    .basket_price {
        width: 50px;
    }
    .basket_empty {
        margin: 30px 80px;
    }
    .basket_window_button {
        padding: 10px 10px;
        font-size: 15px;
        width: 150px;
        height: 35px;
    }
    .login_window {
        padding: 20px 30px 30px;
        width: 350px;
        font-size: 16px;
    }
    .login_window_close {
        margin: 12px 5px;
        max-height: 25px;
        font-size: 20px;
    }
    .login_window input {
        height: 40px;
    }
    .login_submit {
        font-size: 16px;
    }
}